{% extends 'base.html' %} {% block content %} {% load bootstrap3 %}
<div class='row'>
    <div class='col-md-12'>
        {% bootstrap_messages %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <hr/>{{ fosetcentral.management_form }}
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        {% for form in fosetcentral.forms %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% if forloop.first %}
                        <thead class="thead-default" style="background-color: #BEBEBE">
                            {%for field in form.visible_fields %}
                            <th>{{ field.label_tag }}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% endif %}
                            <tr>
                                {% for field in form.visible_fields %}
                                <td>
                                    {{ field }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button> {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}