{% extends 'base.html' %} {% block content %} {% load bootstrap3 %} {% bootstrap_messages %}
<form class="form-inline" action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class='col-md-1'>
        </div>
        <div class='col-md-8'>
            {% for field in foaddcentral %}
            <div class="row">
                {% bootstrap_field field layout='inline' %}
            </div>
            {% endfor %}
        </div>
    </div>
    <hr/>
    <div class='row'>
        <div class='col-md-1'>
        </div>
        <div class='col-md-8'>
            {% buttons %}
            <button type="submit" class="btn btn-primary">Adicionar</button> {% endbuttons %}
        </div>
    </div>
    </div>
    </div>
    </div>
</form>
{% endblock content %}