{% extends 'base.html' %} {% block content %}{% load crispy_forms_tags %}
<form class="form-inline" action="" method="post">
    <div class="row">
        {% csrf_token %}
        <div class="row">
            <div class='col-md-3'>
            </div>
            <div class='col-md-6'>
                {% crispy  form %}
            </div>
            <div class='col-md-3'>
                <a class="btn btn-default" role="button" href="{% url urlretorno %}">Voltar</a>
                <input type="submit" name="Salvar" value="Salvar" class="btn btn-default"> {% if request.session.id != 'new'%}
                <input type="submit" name="Deletar" value="Deletar" class="btn btn-danger"> {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-6">
            <p class="{{ textoformato }}"><i>{{ mensagem }}</i></p>
        </div>
    </div>
</form>
{% endblock content %}