{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            {% for form in centrallist %} {% if forloop.first %}
            <thead class="thead-inverse">
                <tr>
                    <th>
                        <h5 class="text-center"><b>{{ form.sigla_central.label }}</b></h5>
                    </th>
                    <th>
                        <h5 class="text-center"><b>{{ form.numcentral.label }}</b></h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% endif %}
                <tr>
                    <td>
                        <p class="text-center">{{ form.sigla_central.value }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ form.numcentral.value }}</p>
                    </td>
                    <td>
                        <a href="{% url 'editaddcentral' id=form.id.value %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
            <a class="btn btn-default" role="button" href="{% url 'editaddcentral' id='new' %}">Adicionar</a>
    </div>
</div>
{% endblock content %}