{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        {% for i in lista %} {% if forloop.first %}
        <table class="table table-bordered table-striped table-condensed">
            <thead class="thead-inverse">
                <tr>
                    {%for key,value in i.items|dictsort:0 %}
                    {% if key != 'id' %}
                    <th>
                        <h5 class="text-center"><b>{{ key }}</b></h5>
                    </th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% endif %}
                <tr>
                    {%for key,value in i.items|dictsort:0 %}
                    {% if key != 'id' %}
                    <td>
                        <p class="text-center">{{ value}}</p>                        
                    </td>
                    {% endif %}
                    {% endfor %}
                    <td style="text-align:center">
                        <a href="{% url editurl id=i.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
        {% endfor %} 
    </div>
    <div class="col-md-3">
        <a class="btn btn-default" role="button" href="{% url editurl id='new' %}">Adicionar</a>
    </div>
</div>
{% endblock content %}