{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <h3><b>CENTRAIS</b></h3>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <a class="btn btn-info" role="button" href="{% url 'editaddcentral' id='new' %}">Adicionar</a>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            {% for central in centrallist %}
            <tr>
                <td>
                    <a href="{% url 'editaddcentral' id=central.pk %}"> {{ central.sigla_central }}</a>
                </td>
                <td>
                    {{ central.numcentral }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}