{% extends 'base.html' %} {% block content %}{% load bootstrap3 %}{% bootstrap_messages %} {{ form.media }}
<form method="post" class="form" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        <div class="row">
            <div class='col-md-3'>
            </div>
            <div class='col-md-3'>
                {% bootstrap_form form size="small"%}
            </div>
            <div class='col-md-6'>
                <input type="submit" name="Processar" value="Processar" class="btn btn-default">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-3">
            <p class="{{ textoformato }}"><i>{{ mensagem }}</i></p>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        {% for i in csvdict %} {% if forloop.first %}
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead class="thead-inverse">
                <tr>
                    {%for key,value in i.items %} {% if key != 'id' %}
                    <th>
                        <h5 class="text-center"><b>{{ key }}</b></h5>
                    </th>
                    {% endif %} {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% endif %}
                <tr>
                    {%for key,value in i.items %} {% if key != 'id' %}
                    <td>
                        <p class="text-center">{{ value}}</p>
                    </td>
                    {% endif %} {% endfor %}
                </tr>
                {% if forloop.last %}
            </tbody>
        </table>
        {% endif %} {% endfor %}
    </div>
</div>
{% endblock content %}