{% extends 'base.html' %} {% block content %}{%load static%}{% load bootstrap3 %}{% bootstrap_messages %}{% load verbose_names %}
<form method="get" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                {% bootstrap_form form size="small"%}
            </div>
            <div class="col-md-3">
                <input type="submit" name="Salvar" value="Filtrar" class="btn btn-default">
            </div>
        </div>
    </form>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        {% for sisbrprocessa in object_list %}  {% if forloop.first %}
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead class="thead-inverse">
                        <tr>
                            <th>
                                <h5 class="text-center"><b>Data Ref.</b></h5>
                            </th>
                            <th>
                                <h5 class="text-center"><b>{% get_verbose_field_name sisbrprocessa "numcpfcpnj" %}</b></h5>
                            </th>
                            <th>
                                <h5 class="text-center"><b>{% get_verbose_field_name sisbrprocessa "produto" %}</b></h5>
                            </th>
                            <th>
                                <h5 class="text-center"><b>{% get_verbose_field_name sisbrprocessa "status" %}</b></h5>
                            </th>
                            <th>
                                    <h5 class="text-center"><b>Trancação</b></h5>
                            </th>
                        </tr>
                    </thead>
            <tbody>
                    {% endif %}
                 <tr>
                    <td>
                        <p class="text-center">{{ sisbrprocessa.sisbrcsv }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ sisbrprocessa.numcpfcpnj }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ sisbrprocessa.get_produto_display }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ sisbrprocessa.status }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ sisbrprocessa.transacao }}</p>
                    </td>    
                </tr>
                {% if forloop.last %}
            </tbody>
        </table>
        {% endif %} {% endfor %}
    </div>

</div>
{% endblock content %}