{% extends 'base.html' %} {% block content %}
<form method="get" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                {% bootstrap_form form size="small"%}
            </div>
            <div class="col-md-3">
                <input type="submit" name="Salvar" value="Filtrar" class="btn btn-default">
            </div>
        </div>
    </form>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
            {% render_table object_list %}
    </div>

</div>
{% endblock content %}